.item-animate {
  animation: appear 1s ease-in-out;
}
.item-animate-1 {
  animation: appear 1.2s ease-in-out;
}
.item-animate-2 {
  animation: appear 1.4s ease-in-out;
}
.item-animate-3 {
  animation: appear 1.6s ease-in-out;
}
.item-animate-4 {
  animation: appear 1.8s ease-in-out;
}

.item-animate-5 {
  animation: appear 1.9s ease-in-out;
}

.item-animate-6 {
  animation: appear 2s ease-in-out;
}

@keyframes appear {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.item-animate-left {
  animation: appear-left 1s ease-in-out;
}
@keyframes appear-left {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-animate-right {
  animation: appear-right 1s ease-in-out;
}
@keyframes appear-right {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.item-animate-up {
  animation: appear-up 1s ease-in-out;
}
@keyframes appear-up {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
