.container{
  margin: 10px 0px;
}
.main-body{
  display: flex;
  width: auto;
  margin: 10px 0px;
}

.ava-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info-user{
  display: flex;
  background-color: #5cb1ef;
  border-radius: 10px;
  height: 30vh;
  padding: 20px;
}
.task-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .new{
    margin-right: 15px;
  }
  h2{
    margin-left: 15px;
  }
}
.cont-dash{
  background-color: #eaeaea;
  border-radius: 10px;
  color: black;
  margin: 5px;
}
.posts{
  height: 63vh;
  overflow: scroll;
}
.tasks{
  height: 30vh;
  overflow: scroll;
}
.main-post{
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  ul {
    list-style: none;
    font-size: 12px;
  }
  .arrow{
    margin: 15px;
  }
}
