.calendar-large {
  width: 70%;
}

.event-row {
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 70px;


  ul {
    list-style: none;
    font-size: 12px;
  }

  .arrow {
    margin: 15px;
  }
}

.table {
  object-fit: contain;

}

.avatar-event-icon {
  height: 50px;
  width: auto;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 1rem;
  margin-top: 10px;
}

.avatar-event-box {
  height: 40px;
  width: 40px;
  padding-left: 2px;
}

.calendar-side {
  width: 30%;
}

.first-card {
  height: 50%;
  background: linear-gradient(126deg, rgba(189, 143, 255, 1) 0%, rgba(134, 49, 255, 1) 100%);
  color: #ffffff;
  height: 255px;

}

.calendar-manager {
  margin-top: 10px;
  margin-bottom: 10px;
}

.second-card {
  border-style: solid;
  border-color: #bd8fff;
  overflow: scroll;
  height: 400px;
  padding: 0px;
}

.card-body-two {
  border-top: 1px solid #e4d1ff;
}

.card {
  border-radius: 15px;
}

.simple-calendar {
  max-width: 100%;
  font-family: "Poppins", sans-serif;

  a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .day {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Monsterrat", sans-serif;
    width: 8rem;
  }

  .wday-1 {
    font-family: "Monsterrat", sans-serif;
  }

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {}

  .past {}

  .future {}

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {}
}

.btn-primary-event {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 15px;
}

.event-input {
  margin-bottom: 10px;
}

.event-block {
  width: 5rem;
  border-radius: 5px;
  background: linear-gradient(126deg, rgba(189, 143, 255, 1) 0%, rgba(134, 49, 255, 1) 100%);
  font-family: "Poppins", sans-serif;
  border: solid 1px #85A389;
  margin-bottom: 2px;
  color: white;
}

.calendar-heading {
  background-color: #f8f9fa;
  /* light gray */
  border-radius: 5px;
  margin-bottom: 20px;
}

.calendar-title {
  font-size: 1.2em;
  font-weight: bold;
}

.calendar-nav-link {
  color: #007bff;
  /* Bootstrap primary color */
  text-decoration: none;
}

.calendar-nav-link:hover {
  color: #0056b3;
  /* Darken color on hover */
}
