.prescriptions {
  background-color: #eaeaea;
  border-radius: 10px;
  height: 87vh;
  overflow: scroll;
  ul li {
    list-style: none;
  }
}
.btn-primary-prescription {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 12px;
  font-size: 18px;
  width: 200px;
  padding: 4px 4px;
}

.form-title-label{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.btn-primary-prescription-close {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 12px;
  font-size: 18px;
  width: 100px;
  padding: 4px 4px;
}

.tabulator {
  height: 50vh;
  font-size: 15px;
}

.tabulator-container {
  width: 86vw;
  margin: 0px 8px;
  h1{
    font-size: 40px;
  }
}
.prescription-option{
  background-color: #8EA7E9;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  cursor: pointer;
}
