.prescriptions-row {
  margin-top: 20px;
}

.tabulator-container {
  height: 70%;
  border-radius: 15px;
  overflow: scroll;
}

.tabulator {
  border-radius: 10px;
  height: 50%;
  overflow: scroll;

}
