.prescriptions-row {
  margin-top: 20px;
}

.tabulator-container {
  height: 70%;
  border-radius: 15px;
  overflow: scroll;
}

.tabulator {
  border-radius: 10px;
  height: 50%;
  overflow: scroll;

}

.prescription-mini-row {
  background-color: white;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 70px;
}

.prescription-card {
  margin-left: 10px;
  margin-top: 10px;
  height: 185px;
  overflow: scroll;
  font-family: "Monsterrat", sans-serif;
  border-style: solid;
  border-color: #bd8fff;

}
