.simple-calendar {
  .day {
    background-color: rgb(229, 251, 251);
    text-align: center;
    font-family: "poppins";
    width: 8rem;
  }

  .wday-1 {}

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {}

  .past {}

  .future {}

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {}
}

.btn-primary-event {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 15px;
  width: 150px;
}

.event-input {
  margin-bottom: 10px;
}

.event-block {
  width: 8rem;
  border-radius: 5px;
  background-color: #85A389;
  font-family: "Montserrat", sans-serif;
  border: solid 1px #85A389;
  margin-bottom: 2px;
  color: white;
}
