.simple-calendar {
  max-width: 100%;
  font-family: "Poppins", sans-serif;

  a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .day {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Monsterrat", sans-serif;
    width: 8rem;
  }

  .wday-1 {
    font-family: "Monsterrat", sans-serif;
  }

  .wday-2 {}

  .wday-3 {}

  .wday-4 {}

  .wday-5 {}

  .wday-6 {}

  .today {}

  .past {}

  .future {}

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {}
}

.btn-primary-event {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 15px;
  width: 150px;
}

.event-input {
  margin-bottom: 10px;
}

.event-block {
  width: 8rem;
  border-radius: 5px;
  background-color: #b792fc;
  font-family: "Montserrat", sans-serif;
  border: solid 1px #85A389;
  margin-bottom: 2px;
  color: white;
}

.calendar-heading {
  background-color: #f8f9fa;
  /* light gray */
  border-radius: 5px;
  margin-bottom: 20px;
}

.calendar-title {
  font-size: 1.2em;
  font-weight: bold;
}

.calendar-nav-link {
  color: #007bff;
  /* Bootstrap primary color */
  text-decoration: none;
}

.calendar-nav-link:hover {
  color: #0056b3;
  /* Darken color on hover */
}
