.doc-container {
  width: 90vw;
  height: 95vh;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  margin-top: 10px;
}

.doctor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #bd8fff;
  margin: 5px 10px;
  width: 230px;
  height: 340px;
  text-decoration: none;
  background-color: white;
}

.doctor-card:hover {
  width: 220px;
  height: 340px;
}

.doc-img {
  width: auto;
  height: 160px;
  border-radius: 10%;
  margin-top: 10px;
}

.doctor-label {
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn-primary-doctor {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 15px;
  font-size: 20px;
  width: 170px;
  padding: 5px 1px;
  margin-right: 0px;
  margin-top: 10px;
}

.add-doctor-button {
  padding-top: 0px;
  margin: 0px 0px 0px 0px;
  width: 250px;
}

.doctor-module-header-one {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.doctor-module-header {
  color: #b792fc;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.doctor-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #cecdcd;
  padding-top: 0px;
  margin-left: 50px;
  margin-top: 10px;
}

.doctors-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 370px;
  width: 90vw;
  margin-top: 10px;
}

.doc-name{
  color: #a9a9a9;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.doc-specialty, .doc-hospital, .doc-appointment{
  color: #a9a9a9;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.doc-appointment{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 5px;
}

.head{
  height: 59px;
}

.map{
  height: 280px;
  width: 90%;
  margin: 10px;
  border-radius: 20px;
}

.user {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  font-size: 20px;
  padding-top: 13px;
  padding-left: 11rem;
}

.header-row {
  border-bottom: 1px solid #e6e6e6;
  width: 90vw;
}

.date {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  font-size: 20px;
  margin-left: 1rem;
  padding-top: 13px;
}
