.task-container {
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin-left: 20px;
}

.item-one,
.item-two,
.item-three {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.all-tasks {
  height: 350px;
  overflow: scroll;
}

.add-task-button {
  padding-top: 24px;
  padding-right: 0;
  margin-left: 20px;
}

.top-row {
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.second-row {
  height: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.third-row {
  height: 350px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.task-box-one {
  background: linear-gradient(to right, #ffc388 0%, #ff9517 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 27px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task-box-two {
  background: linear-gradient(to right, #b792fc 0%, #9f55ff 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 27px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task-box-three {
  background: linear-gradient(to right, #72b4ce 0%, #1e9cd7 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 27px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  color: #a9a9a9;
}
.mb-2 {
  margin-left: 1rem;
  font-size: 35px;
  color: #8c8c8c;
  font-weight: 400;
}
.test-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 20px;
  color: #ffffff;
  text-align: left;
  padding-left: 15px;
}

.task-icon {
  height: 91px;
  width: auto;
  padding-left: 25px;
  padding-top: 30px;
}

.task-bar-text,
.task-bar-assigned,
.task-bar-overview {
  font-family: "Poppins", sans-serif;
}

.add-task-button {
  padding-top: 24px;
  padding-right: 0;
}

.btn-primary {
  background-color: #1b8cfd;
  border-color: #1b8cfd;
  border-radius: 15px;
  margin-left: 185px;
}
.task-bar {
  background-color: #ffffff; /* This is a light gray color, change it to whatever you want */
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 87px;
  margin: 2px;
  padding: 3rem auto;
}

.task-photo-column {
  height: 60px;
  margin-top: 12px;
}

.task-column {
  height: 60px;
  padding-top: 17px;
}
