.task-container {
  background-color: rgb(255, 255, 255);
  width: 88vw;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 20px;
}

.notification-text {
  font-family: "Poppins", sans-serif;
  color: #a9a9a9;
  font-size: 13px;
}

.modal-content {
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
}

.task-module-header {
  color: #b792fc;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.task-module-header-one {
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #b792fc;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.btn-primary-task {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #b792fc;
  border-radius: 15px;
}

.date {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  font-size: 20px;
  margin-left: 1rem;
  padding-top: 13px;
}

.user-row {
  border-bottom: 1px solid #e6e6e6;
}

.item-one {
  height: 65px;
  padding: 1em;
  border-bottom: 1px solid #e6e6e6;
}

.user {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  font-size: 20px;
  padding-top: 13px;
  padding-left: 11rem;
}

.welcome {
  border-bottom: 1px solid #e6e6e6;
}

.item-one-two {
  height: 65px;
  padding: 1em;
}

.item-two {
  padding: 1em;
}

.team-box {
  margin-top: 80px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.item-three {
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 10px;
}

.recent-box {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.all-tasks {
  height: 400px;
  overflow: scroll;
  width: 940px;
}

.add-task-button {
  padding-top: 10px;
  padding-right: 0;
  margin-left: 1rem;
}

.logo-box {
  height: 65px;
}

.logo {
  height: 40px;
  margin-left: 11rem;
}

.logo-row {
  height: 65px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.top-row {
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  max-width: 100%;
}

.second-row {
  height: 150px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.third-row {
  height: 400px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.team-img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.task-box-one {
  background: linear-gradient(to right, #ffc388 0%, #ff9517 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task-box-two {
  background: linear-gradient(to right, #b792fc 0%, #9f55ff 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 27px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.task-box-three {
  background: linear-gradient(to right, #72b4ce 0%, #1e9cd7 100%);
  border-radius: 20px;
  height: 115px;
  width: 260px;
  margin-left: 27px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
}

.task-line {
  width: 100%;
  height: 60%;
}

.typewriter {
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  margin-left: 1rem;
}

.mb-2 {
  margin-left: 1rem;
  font-size: 35px;
  color: #cecdcd;
  font-weight: 400;
  padding-top: 0px;
}

.test-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding-top: 15px;
  color: #ffffff;
  text-align: left;
  padding-left: 15px;
}

.task-icon {
  height: 70px;
  width: auto;
  padding-left: 25px;
  padding-top: 15px;
}

.task-status-label {
  padding-left: 2.5rem;
}

.avatar-row {
  margin-top: 25px;
  margin-left: 15px;
  width: 100%;
}

.avatar-box {
  height: 50px;
  width: 50px;
  padding-left: 2px;
}

.font-family-monsterrat {
  font-family: "Poppins", sans-serif;
}

.task-manager {
  width: 80%;
}

.checkbox-inline {
  display: inline-block;
  margin-right: 10px;
  /* Adjust as needed */
}

.block-labels {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  margin-left: 1rem;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.task-bar-text,
.task-bar-assigned,
.task-bar-overview {
  font-family: "Poppins", sans-serif;
  color: #a9a9a9;
}

.task-bar-text{
  font-size: 15px;
}

.task-bar-assigned{
  font-size: 15px;
}

.task-details-row {
  height: 65px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: 100%;
}

.task-details {
  font-size: 18px;
}

.task-count {
  font-weight: bold;
  font-size: 30px;
  margin-left: 1rem;
  padding-left: 2rem;
}

.task-second {
  padding-top: 20px;
  padding-left: 1.5rem;
  height: 35px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.task-attributes {
  height: 65px;
  padding: 1em;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 5px;
}

.task-description {
  margin-left: 100px;
  width: 255px;
}

.task-members{
  padding-left: 20px;
}

.btn-primary {
  background-color: #1b8cfd;
  border-color: #1b8cfd;
  border-radius: 15px;
}

.btn-view {
  background-color: #f7f7f7;
  border-color: #e1e1e1;
  border-radius: 15px;
}

.task-bar {
  background-color: #ffffff;
  /* This is a light gray color, change it to whatever you want */
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 80px;
  margin: 2px;
  padding: 3rem auto;
}

.task-photo-column {
  height: 60px;
  margin-top: 12px;
}

.task-column {
  height: 60px;
  padding-top: 17px;
}

.task-column-user{
  width: 100px;
}

.task-column-view {
  height: 60px;
  padding-top: 17px;
  padding-left: 0rem;
}

.status-pending {
  color: rgb(32, 226, 90);
  font-weight: bold;
}

.status-completed {
  color: rgb(27, 202, 27);
  font-weight: bold;
}

.status-past-due {
  color: #b792fc;
  font-weight: bold;
}

.status-default {
  color: black;
  font-weight: bold;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #a6a5a5;
}
