.show-map{
  height: 170px;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
}
.appointment{
  li{
    list-style: none;
    color: #a9a9a9;
  }
}

.show-img{
  width: auto;
  height: 200px;
  border-radius: 20px;
}
.doc-pres, .doc-app{
  color: #a9a9a9;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.doc-pres{
  li {
    list-style: none;
    color: #a9a9a9;
  }
  width: 200px;
  h3{
    font-size: 25px;
  }
}
.doc-app{
  margin-left: 20px;
  width: 520px;
}
.doctor-card-info{
  background-color: #ffffff;
  border-radius: 20px;
  color: #a9a9a9;
  margin-left: 20px;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
