.doc-info, .doc-pres, .doc-app{
  background-color: #eaeaea;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 20px;
}
.appointment{
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  li{
    list-style: none;
  }
}
