<div>
<h1>Calendar</h2>

  <div id="calendar" class="simple-calendar">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date %>

    <% events.each do |event| %>
      <div>
        <%= link_to event.title, edit_event_path(event) %>
      </div>
    <% end %>
  <% end %>
  </div>

</div>