<%= simple_form_for(@post) do |f| %>
  <div id="post-form-container">
    <div>
      <%= f.input :title %>
    </div>
    <div>
      <%= f.input :content, label: "Content (Tag people like: #Lowell)" %>
    </div>
    <div>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary-post">Create</button>
  </div>
<% end %>
