<div class="p-auto bg bg-light d-flex flex-column align-items-center justify-content-center">
  <h1>Create Post</h1>

  <%= render "post_form", post: @post %>

  <br>

  <%= link_to "Back to home", posts_path, class: "btn btn-dark"%>
</div>
