.d-navbar {
  margin: 10px 15px;
  height: 95vh;
  width: 90px;
  background-color: #fdfdfd;
  border-radius: 10px;
  padding-left: 1rem;

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding-left: 10px;
  }

  ul li {
    list-style: none;
    width: fit-content;
  }
}

.sidebar a {
  text-decoration-line: none;

  p {
    font-size: 20px;
    color: #fdfdfd;
  }
}

.sidebar li p {
  opacity: 0;
  transition: 0.5s;
}

.sidebar li:hover p {
  opacity: 1;
  transition: 0.5s;
  color: #a6a5a5;
}

.sidebar li i {
  font-size: 30px;
}

.sidebar li a:hover i {
  font-size: 35px;
}
